@import "../../scss/variables";
@import "../../scss/mixins";

.navbar {
  display: flex;
  background-color: rgb(49, 49, 49);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  .links {
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-end;
    gap: 2%;
    a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5rem;
      border-radius: 5px;

      &:hover {
        background-color: black;
      }
    }
  }
  img {
    width: 100px;
    height: 100px;
  }
}

@include media-xsm {
  .links {
    flex-direction: column;
  }
}

@include media-lg {
  .links {
    flex-direction: row;
  }
}
